
*{
 box-sizing: border-box;
 font-family: Helvetica, Arial, sans-serif;
 margin: 5px;
}




h1{
  
  font-size: 1.75em;
  color: black;
  text-align: center;
}



body{
  font-size: 100%;
  background-color: #cccccc;
}

h2{
  
  font-size: 1.25em;
  float: right;
  border: 1px solid black;
}

section{
  width=100%;

}

#item1{
  background-color: #ff6600;
}
#item2{
  background-color: #66ff33;
}
#item3{
  background-color: #99ffcc;
}


.description{
  background-color: gray;
  float: bottom;
  padding-top: 25px;
}


@media(min-width: 992px ){
  .col-lg-4 {
    float:left;
    border: 1px solid black;
    width: 32%;
  }
}

/****  Media Query for Tablet Version  *****/
@media (min-width: 768px) and (max-width: 991px){
  .col-md-6, .col-md-12 {
    float:left;
    border: 1px solid black;
  }
    
    .col-md-6 {
        width: 48%;
      }
    .col-md-12 {
        width: 97%;
      }
}

/****  Media Query for Mobile Version  *****/
@media (max-width: 767px){
  .col-sm-12 {
    float:left;
    border: 1px solid black;
      width: 97%;
  }
}